lesson_nodered/flows_raspberrypi.json
[{"type":"tab","id":"f25e9867.e868d8","label":"PubNub + Mqtt"},{"type":"tab","id":"f5d34b74.09d6b","label":"websocket + template + http"},{"type":"tab","id":"b34983af.2a6668","label":"gpio + trigger"},{"type":"tab","id":"1a238834.f28708","label":"SenseHat"},{"type":"tab","id":"8307f4aa.65fcb8","label":"PWM Servo"},{"type":"tab","id":"d47db4e0.f85428","label":"Flow 1"},{"id":"9f2cfd9f.6e77d","type":"serial-port","z":"f25e9867.e868d8","serialport":"/dev/ttyS0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"d90c70c.a9ba49","type":"websocket-listener","z":"f25e9867.e868d8","path":"/home/pi/wpa","wholemsg":"false"},{"id":"335c4a68.fc3eb6","type":"wiotp-credentials","z":"f25e9867.e868d8","name":"dad","org":"fer","devType":"sensor","devId":"dad"},{"id":"ff91848e.cb21d","type":"mqtt-broker","z":"f25e9867.e868d8","broker":"m12.cloudmqtt.com:18694","port":"18694","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"dad","birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"payload"},{"id":"a939abfe.743fa","type":"pubnub-keys","z":"f25e9867.e868d8","pub_key":"pub-c-44487f29-cca6-4a4b-9a6a-6e91cf733868","sub_key":"sub-c-faae2814-66fd-11e6-9d44-02ee2ddab7fe"},{"id":"87509877.a9fed8","type":"websocket-client","z":"f25e9867.e868d8","path":"wss://m12.cloudmqtt.com:38694","wholemsg":"true"},{"id":"51907d89.25861c","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"},{"id":"c37b837.d6bc18","type":"websocket-listener","z":"f25e9867.e868d8","path":"/ws/websocket/","wholemsg":"false"},{"id":"d862de82.b14298","type":"websocket-listener","z":"f5d34b74.09d6b","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"f68b8992.50b528","type":"websocket-client","z":"","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"2de4565f.9e0d02","type":"websocket-client","z":"","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"68b33ca1.160c9c","type":"websocket-client","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"bc63248c.99b8b","type":"websocket-client","z":"","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"95a1bfa3.07eb68","type":"websocket-listener","z":"f5d34b74.09d6b","path":"/ws/mine","wholemsg":"false"},{"id":"e5fff0e7.731818","type":"ui_tab","z":"1a238834.f28708","name":"sense","icon":"dashboard","order":"1"},{"id":"cbaa1d94.df9af8","type":"ui_tab","z":"8307f4aa.65fcb8","name":"Home","icon":"dashboard","order":"1"},{"id":"d19feba.b366998","type":"pubnub in","z":"f25e9867.e868d8","keys":"a939abfe.743fa","channel":"demo_echiu","x":204,"y":174.5,"wires":[["46c02b45.a41d34"]]},{"id":"46c02b45.a41d34","type":"debug","z":"f25e9867.e868d8","name":"","active":true,"console":"false","complete":"false","x":384,"y":179,"wires":[]},{"id":"cd4ea824.4c97b","type":"pubnub out","z":"f25e9867.e868d8","keys":"a939abfe.743fa","channel":"demo_echiu","x":384,"y":279,"wires":[]},{"id":"2648f5ae.2710ca","type":"inject","z":"f25e9867.e868d8","name":"","topic":"","payload":"From NodeRed","payloadType":"str","repeat":"","crontab":"","once":false,"x":209,"y":279.5,"wires":[["cd4ea824.4c97b","350d48f2.f3c638"]]},{"id":"5884fc85.44c6b4","type":"mqtt in","z":"f25e9867.e868d8","name":"From CloudMQTT","topic":"/echiu/#","broker":"ff91848e.cb21d","x":222,"y":61.5,"wires":[["46c02b45.a41d34"]]},{"id":"6b3d7784.baddc","type":"websocket in","z":"f25e9867.e868d8","name":"cloudmqtt websocket","server":"","client":"87509877.a9fed8","x":242,"y":384.5,"wires":[["46c02b45.a41d34"]]},{"id":"350d48f2.f3c638","type":"websocket out","z":"f25e9867.e868d8","name":"cloudmqtt websocket","server":"","client":"87509877.a9fed8","x":236,"y":447,"wires":[]},{"id":"900ee728.2f0c","type":"websocket out","z":"f25e9867.e868d8","name":"","server":"d90c70c.a9ba49","client":"","x":909,"y":52,"wires":[]},{"id":"161b873b.ac1ba9","type":"websocket in","z":"f5d34b74.09d6b","name":"","server":"95a1bfa3.07eb68","client":"","x":154,"y":325.5,"wires":[["d4e9674d.374b68"]]},{"id":"d4e9674d.374b68","type":"debug","z":"f5d34b74.09d6b","name":"","active":true,"console":"false","complete":"payload","x":699,"y":330,"wires":[]},{"id":"bdbf664a.351988","type":"websocket out","z":"f5d34b74.09d6b","name":"","server":"95a1bfa3.07eb68","client":"","x":379,"y":270,"wires":[]},{"id":"42f3b9e5.b4fec","type":"inject","z":"f5d34b74.09d6b","name":"","topic":"","payload":"websocket","payloadType":"str","repeat":"5","crontab":"","once":false,"x":172,"y":269.5,"wires":[["bdbf664a.351988"]]},{"id":"563fa3dc.1eb59c","type":"template","z":"f5d34b74.09d6b","name":"WebSocket Client","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    <html>\n    <head>\n    <title>Simple Live Display</title>\n    </head>\n    <body>\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\">Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n<script>new WebSocket('ws://127.0.0.1:1880/ws/mine')</script>\n      </html>\n\n","x":408,"y":180,"wires":[["dd198877.9fcd7"]]},{"id":"99a019e6.4ad9f8","type":"http in","z":"f5d34b74.09d6b","name":"","url":"/mine","method":"get","swaggerDoc":"","x":123,"y":188,"wires":[["563fa3dc.1eb59c"]]},{"id":"dd198877.9fcd7","type":"http response","z":"f5d34b74.09d6b","name":"","x":687,"y":186,"wires":[]},{"id":"450b469a.d49b08","type":"comment","z":"f5d34b74.09d6b","name":"Flow Details","info":"Ingress to the ws Server: \n    1. wscat -c 127.0.0.1:1880/ws/mine\n    2. in Nodered WebsocketClient WebSocket->send\n    3. in Node client: WebSocket->send\negress from ws Server:\n    1. inject\n    2. in Nodered WebsocketClient WebSocket->onmessage\n    3. in Node client: Websocket->onmessage\nCreate a websocket server:\n    1. Nodered ws Listener\n    2. wscat -l 1880\n    3. Node WebSocket.Server\nTo Trigger websocket\n    1. open webpage to point to 127.0.0.1:1880/mine\n    2. curl? wget? Not persistent\n    3. socat - tcp:localhost:1880 but cannot execute Websocket javascript\n        GET /mine HTTP1.1\n        \n    4. Putting Websocket in function does not work\n    5. Finally use node.js and put http.get with javascript in\n    \n    \n\n    ","x":78,"y":21.5,"wires":[]},{"id":"38ef45f9.c06912","type":"function","z":"f5d34b74.09d6b","name":"","func":"//var ws=new WebSocket(\"ws://127.0.0.1:1880/ws/mine\")\n//node.send(34)\nmsg.payload=Date();\nreturn(msg)","outputs":"1","noerr":0,"x":404,"y":109.5,"wires":[["dd198877.9fcd7"]]},{"id":"28cc75b9.5e6262","type":"rpi-gpio out","z":"b34983af.2a6668","name":"","pin":"7","set":"","level":"0","out":"out","x":559,"y":222.5,"wires":[]},{"id":"f6541041.4da09","type":"debug","z":"b34983af.2a6668","name":"","active":true,"console":"false","complete":"false","x":587,"y":132,"wires":[]},{"id":"b4021a62.ef9cb8","type":"inject","z":"b34983af.2a6668","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":200,"y":224.5,"wires":[["16387f19.500321"]]},{"id":"7ed08662.dc3ec","type":"trigger","z":"b34983af.2a6668","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"1","extend":false,"units":"s","reset":"2","name":"","x":380,"y":107.5,"wires":[["f6541041.4da09"]]},{"id":"16387f19.500321","type":"function","z":"b34983af.2a6668","name":"","func":"if (msg.payload/1000%10>5) msg.payload=0\nelse msg.payload=0\nreturn msg;","outputs":1,"noerr":0,"x":349,"y":225.5,"wires":[["28cc75b9.5e6262"]]},{"id":"a0313ba.0cb20c8","type":"inject","z":"b34983af.2a6668","name":"","topic":"","payload":"2","payloadType":"num","repeat":"5","crontab":"","once":false,"x":167,"y":110.5,"wires":[["7ed08662.dc3ec"]]},{"id":"89cb242c.f87a5","type":"rpi-sensehat in","z":"1a238834.f28708","name":"","motion":false,"env":true,"stick":false,"x":75,"y":80.5,"wires":[["b95ec878.2a49f8"]]},{"id":"535a7149.74c688","type":"function","z":"1a238834.f28708","name":"","func":"//var msg1=msg;\n//var temp=msg.payload.temperature\n//var hum=msg.payload.humidity\nvar msg1={payload:msg.payload.humidity,topic:\"humidity\"}\nvar msg2={payload:msg.payload.temperature,topic:\"temperature\"}\nvar msg3={payload:msg.payload.pressure,topic:\"pressure\"}\nreturn [msg1,msg2,msg3]","outputs":"3","noerr":0,"x":343,"y":81,"wires":[["53c7645a.2ee064"],["3c905199.eb787e"],["14b053ad.8ff44c"]]},{"id":"ee94db67.459d5","type":"rpi-sensehat out","z":"1a238834.f28708","name":"","x":428,"y":632,"wires":[]},{"id":"d7080b0b.33c01","type":"inject","z":"1a238834.f28708","name":"","topic":"","payload":"0,0,red,7,7,green,0,7,yellow,7,0,blue,4,4,purple","payloadType":"str","repeat":"","crontab":"","once":true,"x":141,"y":712.5,"wires":[["7a2e6796.845c68"]]},{"id":"53c7645a.2ee064","type":"ui_chart","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"humidity","group":"env","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"60","x":511,"y":20,"wires":[[],[]]},{"id":"3c905199.eb787e","type":"ui_chart","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"temperature","group":"env","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"60","x":522,"y":65.5,"wires":[[],[]]},{"id":"14b053ad.8ff44c","type":"ui_chart","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"pressure","group":"env","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"60","x":512,"y":111.5,"wires":[[],[]]},{"id":"b5e5a3a8.6f5d1","type":"rpi-sensehat in","z":"1a238834.f28708","name":"","motion":true,"env":false,"stick":false,"x":77,"y":243,"wires":[["7a99fbe6.1cfeec"]]},{"id":"c8d803c9.00dad","type":"function","z":"1a238834.f28708","name":"","func":"//var msg1=msg;\n//var temp=msg.payload.temperature\n//var hum=msg.payload.humidity\nvar msg1={payload:msg.payload.orientation.pitch}\nvar msg2={payload:msg.payload.orientation.roll}\nvar msg3={payload:msg.payload.orientation.yaw}\nreturn [msg1,msg2,msg3]","outputs":"3","noerr":0,"x":344,"y":241.5,"wires":[["2ff9fc9c.20d71c"],["66c9738d.ab05a4"],["a75e0d93.22f1c"]]},{"id":"2ff9fc9c.20d71c","type":"ui_chart","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"orientation.pitch","group":"orientation","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"60","x":541,"y":184.5,"wires":[[],[]]},{"id":"66c9738d.ab05a4","type":"ui_chart","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"orientation.roll","group":"orientation","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"60","x":539,"y":227,"wires":[[],[]]},{"id":"a75e0d93.22f1c","type":"ui_chart","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"orientation.yaw","group":"orientation","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"60","x":543,"y":279,"wires":[[],[]]},{"id":"b95ec878.2a49f8","type":"trigger","z":"1a238834.f28708","op1":"1","op2":"0","op1type":"pay","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","name":"","x":211,"y":128.5,"wires":[["535a7149.74c688"]]},{"id":"7a99fbe6.1cfeec","type":"trigger","z":"1a238834.f28708","op1":"1","op2":"0","op1type":"pay","op2type":"pay","duration":"10","extend":false,"units":"s","reset":"","name":"","x":215,"y":185,"wires":[["c8d803c9.00dad"]]},{"id":"97a59be6.b8462","type":"http request","z":"1a238834.f28708","name":"openweather","method":"GET","ret":"obj","url":"http://api.openweathermap.org/data/2.5/forecast/city?id=4356050&APPID=8a19130fa76ce07bef5d3e57be3f74bd","x":267,"y":375.5,"wires":[["b16b6812.cdf5e8"]]},{"id":"eee7b053.bab3e","type":"function","z":"1a238834.f28708","name":"","func":"var first=msg.payload.list[0]\nvar msg1={payload:first.main.temp-273,topic:\"temp\"}\nvar msg2={payload:first.main.pressure,topic:\"pres\"}\nvar msg3={payload:first.main.humidity,topic:\"humid\"}\nvar msg4={payload:first.weather[0].main.weather,topic:\"weather\"}\nreturn [msg1,msg2,msg3,msg4]","outputs":"4","noerr":0,"x":225,"y":555.5,"wires":[["183b94e7.f6b62b"],["7b0cd7f0.e30948"],["f6a1c052.296fd"],["6c3afe69.9ec2a"]]},{"id":"183b94e7.f6b62b","type":"ui_gauge","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"temp","group":"forecast","order":1,"format":"{{value}}","min":0,"max":"40","x":542,"y":443.5,"wires":[]},{"id":"7b0cd7f0.e30948","type":"ui_gauge","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"pres","group":"forecast","order":1,"format":"{{value}}","min":"1000","max":"1100","x":540,"y":477,"wires":[]},{"id":"f6a1c052.296fd","type":"ui_gauge","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"humid","group":"forecast","order":1,"format":"{{value}}","min":0,"max":"100","x":540,"y":518,"wires":[]},{"id":"6c3afe69.9ec2a","type":"ui_text","z":"1a238834.f28708","tab":"e5fff0e7.731818","name":"weather","group":"forecast","order":1,"format":"{{msg.payload}}","x":549,"y":561.5,"wires":[]},{"id":"39774589.a47dea","type":"template","z":"1a238834.f28708","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" <!doctype html>\n    <head>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css\">\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js\"></script>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js\"></script>\n    </head>\n    <html>\n        <div id=\"chart-example\" style=\"height: 250px;\"></div>\n        <script>\n            Morris.Donut({\n               element: \"chart-example\",\n               data: [\n                  {label: \"Wind Speed (knts)\", value: {{payload.temp}} }\n              ]\n           });\n        </script>\n    </html>\n\n\n","x":591,"y":367.5,"wires":[["9a6c7240.c844b"]]},{"id":"124dfe9c.dadbd9","type":"http in","z":"1a238834.f28708","name":"","url":"/weather","method":"get","swaggerDoc":"","x":75,"y":370.5,"wires":[["97a59be6.b8462"]]},{"id":"9a6c7240.c844b","type":"http response","z":"1a238834.f28708","name":"","x":727,"y":368,"wires":[]},{"id":"b16b6812.cdf5e8","type":"function","z":"1a238834.f28708","name":"","func":"msg.payload=msg.payload.list[0].main\n//Must modify headers content type from application/json to text/html for webpage to render\nmsg.headers={ \"date\": \"Tue, 30 Aug 2016 03:40:03 GMT\", \"expires\": \"-1\", \"cache-control\": \"private, max-age=0\", \"content-type\": \"text/html; charset=ISO-8859-1\", \"p3p\": \"CP=\\\"This is not a P3P policy! See https://www.google.com/support/accounts/answer/151657?hl=en for more info.\\\"\", \"server\": \"gws\", \"x-xss-protection\": \"1; mode=block\", \"x-frame-options\": \"SAMEORIGIN\", \"set-cookie\": [ \"NID=85=mmZkIdOvuEBYP2OoDY1r2ThI9-khA5DaybZP0AG3A2P0qwHauWSqurAHxr147Nr6WCTrIQGJ4l2hArH0O66wbwNW84XLVdStKrgLCxp6RrqYcDqBgk81vQ6KruzUMN6_KvTF5ffK9AoDCA; expires=Wed, 01-Mar-2017 03:40:03 GMT; path=/; domain=.google.com; HttpOnly\" ], \"accept-ranges\": \"none\", \"vary\": \"Accept-Encoding\", \"transfer-encoding\": \"chunked\" }\nreturn msg;","outputs":"1","noerr":0,"x":440,"y":377,"wires":[["39774589.a47dea"]]},{"id":"941aeb11.9e20b","type":"inject","z":"8307f4aa.65fcb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":185,"y":157.5,"wires":[["32ef1a01.fa9886"]]},{"id":"32ef1a01.fa9886","type":"function","z":"8307f4aa.65fcb8","name":"","func":"var second=Math.floor(msg.payload/1000)\n//var millisecond=msg.payload%1000\n//var pulsewidth=second%4 *10 \nmsg.payload=second%13+7\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":166.5,"wires":[["1656f7fb.241ce8"]]},{"id":"1656f7fb.241ce8","type":"rpi-gpio out","z":"8307f4aa.65fcb8","name":"","pin":"12","set":"","level":"0","out":"pwm","x":504,"y":176,"wires":[]},{"id":"c0a9f965.ac66d","type":"debug","z":"8307f4aa.65fcb8","name":"","active":true,"console":"false","complete":"false","x":503,"y":110,"wires":[]},{"id":"95d8986e.8a212","type":"ui_text_input","z":"8307f4aa.65fcb8","tab":"cbaa1d94.df9af8","mode":"text","delay":300,"name":"sensehat input","topic":"","group":"env","order":1,"x":262,"y":92.5,"wires":[["c0a9f965.ac66d"]]},{"id":"736d4700.d8598","type":"ui_text_input","z":"1a238834.f28708","tab":"e5fff0e7.731818","mode":"text","delay":300,"name":"astropi input","topic":"astro","group":"env","order":1,"x":118,"y":634.5,"wires":[["ee94db67.459d5","7a2e6796.845c68"]]},{"id":"7a2e6796.845c68","type":"rpi-sensehatsim out","z":"1a238834.f28708","name":"","x":427,"y":737,"wires":[]},{"id":"5c9ca64.96617d8","type":"rpi-sensehat out","z":"d47db4e0.f85428","name":"","x":506,"y":114,"wires":[]},{"id":"21640f1d.5231b8","type":"function","z":"d47db4e0.f85428","name":"Simple graphical clock","func":"\n// array to hold \"random\" pixels\nvar ranNums = [];\n\n// create a non-overlapping array of random numbers 0-8\nfunction rerand() {\n    var nums = [0,1,2,3,4,5,6,7,8];\n    var i = nums.length;\n    var j;\n    ranNums = [];\n    while (i--) {\n        j = Math.floor(Math.random() * (i+1));\n        ranNums.push(nums[j]);\n        nums.splice(j,1);\n    }\n}\n\n// Get the hours and minutes and split into tens and units\nvar d = new Date();\nvar s = d.getSeconds();\nvar su = s%4;\nif (su === 0) {\n    var h = d.getHours();\n    var m = d.getMinutes();\n    var hu = h%10;\n    h = parseInt(h/10);\n    var mu = m%10;\n    m = parseInt(m/10);\n    \n    // Do the tens of hours (red)\n    rerand();\n    node.send({payload:\"1-3,1-3,0,0,0\"});\n    for (var i=0; i<h; i++) {\n        node.send({payload:(1+ranNums[i]%3)+\",\"+(1+parseInt(ranNums[i]/3))+\",255,0,0\"});\n    }\n    \n    // Do the units of hours (green)\n    rerand();\n    node.send({payload:\"4-6,1-3,0,0,0\"});\n    for (var i=0; i<hu; i++) {\n        node.send({payload:(4+ranNums[i]%3)+\",\"+(1+parseInt(ranNums[i]/3))+\",0,255,0\"});\n    }\n    \n    // Do the tens of minutes (yellow)\n    rerand();\n    node.send({payload:\"1-3,4-6,0,0,0\"});\n    for (var i=0; i<m; i++) {\n        node.send({payload:(1+ranNums[i]%3)+\",\"+(4+parseInt(ranNums[i]/3))+\",255,255,0\"});\n    }\n    \n    // Do the unit of minutes (blue)\n    rerand();\n    node.send({payload:\"4-6,4-6,0,0,0\"});\n    for (var i=0; i<mu; i++) {\n        node.send({payload:(4+ranNums[i]%3)+\",\"+(4+parseInt(ranNums[i]/3))+\",0,0,255\"});\n    }\n    \n}\nnode.send({payload:\"0,0,\"+(su===0?\"purple\":\"off\")+\",7,0,\"+(su===1?\"purple\":\"off\")+\",7,7,\"+(su===2?\"purple\":\"off\")+\",0,7,\"+(su===3?\"purple\":\"off\")})\n\n\n// nothing left to do\nreturn null;","outputs":1,"noerr":0,"x":265,"y":115,"wires":[[]]},{"id":"1ebc5bbc.4bbc7c","type":"comment","z":"d47db4e0.f85428","name":"Simple graphical clock for Sense Hat","info":"Generates a graphical clock, showing hours and minutes. \n\nHours are shown by the red and green pixels, minutes\nare the yellow and blue pixels.\n\nUses the local time of the Pi - you may need to set your local\ntimezone using\n\n    sudo dpkg-reconfigure tzdata\n","x":155,"y":75,"wires":[]},{"id":"6c8789f7.c74e7","type":"inject","z":"d47db4e0.f85428","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":65,"y":115,"wires":[["21640f1d.5231b8"]]},{"id":"22738a4.f29c9f6","type":"rpi-sensehat out","z":"d47db4e0.f85428","name":"","x":425,"y":217,"wires":[]},{"id":"e2022e52.8b68a","type":"rpi-sensehat in","z":"d47db4e0.f85428","name":"","motion":true,"env":false,"stick":false,"x":75,"y":217,"wires":[["cb5549ff.f71638"]]},{"id":"cb5549ff.f71638","type":"function","z":"d47db4e0.f85428","name":"Compass","func":"// Based on the Compass example provided by\n// the Sense HAT python library\n// https://github.com/RPi-Distro/python-sense-hat/tree/master/examples\n\nvar led_loop = [4, 5, 6, 7, 15, 23, 31, 39, 47, 55, 63, 62, 61, 60, 59, 58, 57, 56, 48, 40, 32, 24, 16, 8, 0, 1, 2, 3];\nvar led_degree_ratio = led_loop.length / 360.0;\nvar dir = (360 - msg.payload.compass)%360;\n\nfunction getXY(dir) {\n    var led_index = Math.floor(led_degree_ratio * (dir%360));\n    var offset = led_loop[led_index];\n    return [offset % 8,Math.floor(offset / 8)];\n}\n\nvar previous = context.get('previous');\nmsg.payload = '';\n\nvar position = getXY(dir);\nif (!previous || position[0] != previous[0][0] || position[1] != previous[0][1]) {\n    if (previous) {\n        msg.payload = previous[0][0]+\",\"+previous[0][1]+\",off,\"+\n                      previous[1][0]+\",\"+previous[1][1]+\",off,\";\n    } else {\n        msg.payload = \"*,*,off,\";\n    }\n    previous = [\n        position,\n        getXY(dir+180)\n    ];\n    msg.payload += previous[0][0]+\",\"+previous[0][1]+\",red,\"+\n                  previous[1][0]+\",\"+previous[1][1]+\",white\"\n    \n    context.set('previous',previous);\n    return msg;\n}\nreturn null;\n\n","outputs":1,"noerr":0,"x":235,"y":217,"wires":[["22738a4.f29c9f6"]]},{"id":"376ce9e1.0e7d7e","type":"comment","z":"d47db4e0.f85428","name":"Simple compass for Sense Hat","info":"Generates a compass, showing north (red) and south (white).\n\nBased on the python example provided with the Sense Hat: https://github.com/RPi-Distro/python-sense-hat/tree/master/examples\n\nThe accuracy of the compass will depend on callibrating the Sense Hat\ninternal compass. Search the Sense Hat forums for a guide on how to\ndo this.\n","x":145,"y":177,"wires":[]}]