lesson_nodered/flows_notwork.json
[{"type":"tab","id":"8c9bb04c.b8e5c8","label":"Flow 1"},{"id":"3145dfaa.9219a","type":"rpi-sensehat in","z":"8c9bb04c.b8e5c8","name":"","motion":false,"env":false,"stick":true,"x":327,"y":165.5,"wires":[["9dd5f1c.81ea61"]]},{"id":"4faa105.774bcf","type":"rpi-sensehat out","z":"8c9bb04c.b8e5c8","name":"","x":680,"y":277.5,"wires":[]},{"id":"a0a90a18.4fe588","type":"inject","z":"8c9bb04c.b8e5c8","name":"windows10","topic":"","payload":"4-7,4-7,red,0-3,0-3,0,255,0,4-7,0-3,255,0,255,0-3,4-7,255,255,0","payloadType":"str","repeat":"","crontab":"","once":true,"x":412,"y":275.5,"wires":[[]]},{"id":"9dd5f1c.81ea61","type":"debug","z":"8c9bb04c.b8e5c8","name":"","active":true,"console":"false","complete":"false","x":614,"y":163,"wires":[]},{"id":"d2f8090c.cabcf","type":"inject","z":"8c9bb04c.b8e5c8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"x":375,"y":371.5,"wires":[["d67f5fd9.93cd3","4faa105.774bcf"]]},{"id":"d67f5fd9.93cd3","type":"rpi-gpio out","z":"8c9bb04c.b8e5c8","name":"","pin":"","set":"","level":"0","out":"out","x":552,"y":373.5,"wires":[]}]