lesson_nodered/flows_raspberrypi.json
[{"id":"849bce6e.7b643","type":"tab","label":"Flow 1"},{"id":"f5326a11.1b677","type":"rpi-sensehat out","z":"849bce6e.7b643","name":"","x":773,"y":280.5,"wires":[]},{"id":"3d95a14c.78e646","type":"rpi-sensehat in","z":"849bce6e.7b643","name":"","motion":true,"env":false,"stick":false,"x":144,"y":286.5,"wires":[["92131da1.2ac67"]]},{"id":"92131da1.2ac67","type":"function","z":"849bce6e.7b643","name":"Orientation","func":"var pixel=\"*,*,\";\nvar red=Math.floor(msg.payload.orientation.roll/360*255);\nvar green=Math.floor(msg.payload.orientation.pitch/360*255);\nvar blue=Math.floor(msg.payload.orientation.yaw/360/255);\npixel=pixel.concat(red).concat(\",\");\npixel=pixel.concat(green).concat(\",\");\npixel=pixel.concat(blue);\nmsg.payload=pixel;\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":360.5,"wires":[["f5326a11.1b677"]]},{"id":"939867be.9d395","type":"function","z":"849bce6e.7b643","name":"","func":"var pixel=\",\"\nvar red=\"255,0,0\"\nvar green=\"0,255,0\"\nvar which_pixel = Math.round(msg.payload.compass/(360/28))\nif (which_pixel<8) {xr=0;yr=which_pixel;}\nelse if (which_pixel<14) {yr=7;xr=which_pixel-8;}\nelse if (which_pixel<22) {yr\npixel=pixel.cancat(red).concat(\",\")\nreturn msg;","outputs":1,"noerr":9,"x":392,"y":445.5,"wires":[[]]}]