lesson_nodered/ntp.js
[{"id":"d2e73493.3b05d","type":"websocket-listener","z":"5741c347.4b83f4","path":"/ws/complex","wholemsg":"false"},{"id":"cd1aa775.76bc88","type":"inject","z":"5741c347.4b83f4","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":115,"y":106,"wires":[["7f130f53.5b793"]]},{"id":"318b4e29.c585ea","type":"websocket out","z":"5741c347.4b83f4","name":"","server":"d2e73493.3b05d","client":"","x":495,"y":108,"wires":[]},{"id":"403d505d.be257","type":"http response","z":"5741c347.4b83f4","name":"","x":456,"y":48,"wires":[]},{"id":"f5bb1bdf.717c9","type":"http in","z":"5741c347.4b83f4","name":"","url":"/complex","method":"get","swaggerDoc":"","x":87,"y":48,"wires":[["6415a53f.bb2aac"]]},{"id":"6415a53f.bb2aac","type":"template","z":"5741c347.4b83f4","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":284,"y":48,"wires":[["403d505d.be257"]]},{"id":"7f130f53.5b793","type":"function","z":"5741c347.4b83f4","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":106,"wires":[["318b4e29.c585ea"]]},{"id":"7c17fd80.22e6dc","type":"websocket in","z":"5741c347.4b83f4","name":"","server":"d2e73493.3b05d","client":"","x":272,"y":160,"wires":[["55fe378d.921c08"]]},{"id":"55fe378d.921c08","type":"debug","z":"5741c347.4b83f4","name":"","active":true,"console":"false","complete":"false","x":462,"y":160,"wires":[]}]
