lesson_nodered/websock_notwork.js
[{"id":"f68b8992.50b528","type":"websocket-client","z":"f5d34b74.09d6b","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"2de4565f.9e0d02","type":"websocket-client","z":"f5d34b74.09d6b","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"161b873b.ac1ba9","type":"websocket in","z":"f5d34b74.09d6b","name":"","server":"","client":"2de4565f.9e0d02","x":149,"y":88.5,"wires":[["d4e9674d.374b68"]]},{"id":"d4e9674d.374b68","type":"debug","z":"f5d34b74.09d6b","name":"","active":true,"console":"false","complete":"payload","x":419,"y":88,"wires":[]},{"id":"bdbf664a.351988","type":"websocket out","z":"f5d34b74.09d6b","name":"","server":"","client":"f68b8992.50b528","x":369,"y":37,"wires":[]},{"id":"42f3b9e5.b4fec","type":"inject","z":"f5d34b74.09d6b","name":"","topic":"","payload":"Hello There","payloadType":"str","repeat":"","crontab":"","once":false,"x":113,"y":35.5,"wires":[["bdbf664a.351988"]]}]
